<div class="container">
  <div class="h1">Costumer list</div class="h1">
  <% Costumer.all.each do |costumer| %>
    <div class="row">
      <div class="col">
        <%= costumer.name%>
      </div>
      <div class="col">
        <a><%=link_to 'Edit', edit_costumer_path(costumer)%></a>
      </div>
      <div class="col">
        <a><%=link_to 'Remove', edit_costumer_path(costumer)%></a>
      </div>
    </div>
  <% end %>
</div>
