<div class="container">
  <div class="h1">Costumer list</div class="h1">
  <% Costumer.all.each do |costumer| %>
    <div class="row">
      <div class="col">
        <%= costumer.name%>
      </div>
      <div class="col">
        <%=link_to 'Edit', edit_costumer_path(costumer)%>
      </div>
      <div class="col">
        <%=button_to 'Remove', costumer_path(costumer), method: :delete, class: 'btn btn-link p-0'%>
      </div>
    </div>
  <% end %>
</div>
